{% extends 'home/base.html' %}
{% load static %}
{% block title %}Material{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Search OF</title>
    <style>
        table {
            border-collapse: collapse;
        }

        .table_pai {
            width: 80%;
            margin: 0 auto;
        }



    .table_pai th, .table_pai td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .material-table {
        width: 100%;
        border-collapse: collapse;
        margin: 0; /* Remove qualquer margem extra */
    }

    .material-table th, .material-table td {
        padding: 4px; /* Ajuste o padding conforme necessário */
        text-align: left;
        border: 1px solid #ddd;
    }

    .table_pai td {
        vertical-align: top; /* Garante que o alinhamento vertical seja consistente */
    }
    
    .material-table td {
        vertical-align: top; /* Garante que o alinhamento vertical seja consistente */
    }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .material-table {
            margin-top: 10px;
        }

        input[type="text"], input[type="number"] {
            box-sizing: border-box;
        }
    </style>
</head>
<body>

    <div class="container">
            
        <h1 class="mb-4 mt-5">Material</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">

                <input type="text" name="of" placeholder="Enter OF" class="form-control" required>
                <button type="submit" class="btn-primary mt-3">Search</button>
            </div>
        </form>

        <hr>
        <br>

    </div>


        <div class="table-responsive">
            {% if results %}
            <table class="table_pai">
                <thead>
                    <tr>
                        <th>OF</th>
                        <th>Reserva</th>
                        <th>Consumo</th>
                        <th>Qtd.</th>
                        <th>Qtd. Produzida</th>
                        <th>REF</th>
                        <th>Design</th>
                        <th>bi_qtt</th>
                        <th>bi_unidade</th>
                        <th>st_unidade</th>
                        <th>Materials</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row, materials in results %}
                    <tr>
                        {% for item in row %}
                        <td>{{ item }}</td>
                        {% endfor %}
                        <td>
                            <table class="material-table">
                                <thead>
                                    <tr>
                                        <th>Peça</th>
                                        <th>Falta</th> <!-- Cabeçalho da coluna FALTA -->
                                        <th>Lenght</th>
                                        <th>Espessura Disco</th>
                                        <th>Comprimento barra</th>  
                                        <th>Barras</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for material in materials %}
                                    <tr>
                                        {% for item in material %}
                                        <td>
                                            {% if forloop.counter == 1 %}
                                                <!-- Campo Design -->
                                                <span class="design_field">{{ item }}</span>

                                            {% elif forloop.counter == 2 %}
                                                <!-- Campo FALTA com a classe falta_field -->
                                                <span class="falta_field">{{ item }}</span>
                                            {% elif forloop.counter == 3 %}
                                                <!-- Campo u_lenght com a classe u_lenght_field -->
                                                <input type="text" value="{{ item }}" class="u_lenght_field" {% if item %} readonly {% endif %}>
                                            {% else %}
                                                {{ item }}
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                        <td>
                                            <!-- Novo campo de input para "espessura_disco" -->
                                            <input type="number" value="" class="espessura_disco_field">
                                        </td>
                                        <td>
                                            <!-- Novo campo de input para "comprimento_barra" -->
                                            <input type="number" value="" class="comprimento_field">
                                        </td>
                                        <td>
                                            <!-- Novo campo de input para "qtd_peças" -->
                                            <input type="number" value="" class="qtd_field" readonly>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% elif error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function calculateQtdPieces() {
                const materialRows = document.querySelectorAll('.material-table tbody tr');
    
                materialRows.forEach(row => {
                    // Obtém o texto do campo Design e remove espaços em branco ao redor
                    const designField = row.querySelector('.design_field')?.textContent.trim() || '';
    
                    // Verifica se o texto contém a palavra 'CORTE'
                    const isCorte = designField.toUpperCase().includes('CORTE');
    
                    const falta = parseFloat(row.querySelector('.falta_field')?.textContent || 0);
                    const uLenght = parseFloat(row.querySelector('.u_lenght_field')?.value || 0);
                    const espessuraDiscoField = row.querySelector('.espessura_disco_field');
                    const comprimento = parseFloat(row.querySelector('.comprimento_field')?.value || 1);
    
                    if (isCorte) {
                        // Preenche Espessura Disco com 5 e desabilita o campo
                        espessuraDiscoField.value = 5;
                        espessuraDiscoField.setAttribute('readonly', true);
                    } else {
                        // Caso contrário, garante que o campo Espessura Disco possa ser editado
                        espessuraDiscoField.removeAttribute('readonly');
                    }
    
                    // Calcula a quantidade de peças
                    const espessuraDisco = parseFloat(espessuraDiscoField?.value || 0);
                    const qtdPeças = ((uLenght + espessuraDisco) * falta) / comprimento;
    
                    // Atualiza o campo qtd_field
                    const qtdField = row.querySelector('.qtd_field');
                    qtdField.value = qtdPeças.toFixed(2);
                });
            }
    
            const espessuraDiscoFields = document.querySelectorAll('.espessura_disco_field');
            const comprimentoFields = document.querySelectorAll('.comprimento_field');
            const uLenghtFields = document.querySelectorAll('.u_lenght_field');
    
            // Adiciona eventos de input para recalcular quando o valor mudar
            espessuraDiscoFields.forEach(field => field.addEventListener('input', calculateQtdPieces));
            comprimentoFields.forEach(field => field.addEventListener('input', calculateQtdPieces));
            uLenghtFields.forEach(field => field.addEventListener('input', calculateQtdPieces));
    
            // Executa o cálculo inicial
            calculateQtdPieces();
        });
    </script>
    
    
    
</body>
</html>

{% endblock %}
