{% extends 'home/base.html' %}
{% load custom_filters %}
{% block title %}Gestão de Encomendas{% endblock %}
{% block content %}

<style>
        td {
            border: 2px solid black; /* Contorno interno preto */
            padding: 10px; /* Espaçamento interno opcional */
        }

    /* manter o cabeçalho fixo da tabela, para que ao descer o thead continue sendo vizivel*/
    .order-thead {
        position: sticky;
        top: 0;
        background-color: #ffffff; /* Cor de fundo do cabeçalho */
        z-index: 100; /* Ajuste conforme necessário */
    }



.table-bordered thead th {
    border-bottom: 2px solid #000000;
}



.order-thead > td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

}

.legend-container {
    display: flex;
    flex-direction: column; /* Alinha as legendas verticalmente, use 'row' para alinhamento horizontal */
    margin-bottom: 20px; /* Espaçamento inferior entre a legenda e a tabela */
    background-color: rgba(189, 186, 183, 0.342);
    width: 700px;
    padding: 10px;


}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Espaçamento entre os itens de legenda */
}

.legend-color {
    width: 20px; /* Largura do quadrado */
    height: 20px; /* Altura do quadrado */
    display: inline-block;
    margin-right: 10px; /* Espaçamento à direita do quadrado */
}

.legend-color.red {
    background-color: rgba(255, 0, 0, 0.644); /* Cor de fundo do quadrado vermelho */
}

.legend-color.orange {
    background-color: rgba(255, 166, 0, 0.644); /* Cor de fundo do quadrado laranja */
}

.legend-color.green {
    background-color: rgba(0, 128, 0, 0.651); /* Cor de fundo do quadrado verde */
}

.legend-text {
    font-size: 16px; /* Tamanho da fonte da descrição */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/** borda envolta da table-responsive*/
.table-responsive {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

th {
    text-align: center;
}

/* Cor de fundo leve verde cinza para "Produzido" */
.table-header-center th:contains("Produzido") {
    background-color: #d4e3d5; /* Verde cinza */
    color: #2a4d2a; /* Verde mais escuro */
}

/* Cor de fundo leve vermelho cinza para "Não Produzido" */
.table-header-center th:contains("Não Produzido") {
    background-color: #f0d4d4; /* Vermelho cinza */
    color: #4d2a2a; /* Vermelho mais escuro */
}









</style>

<div class="container mt-5">




    <div class="row">
        <div class="col-md-12">
            <h1>Nave 1</h1>
        </div>
        <hr>
        <div class="col">
            <p style="float: right;">{{hoje}}</p>
        </div>

        <form method="get" action="{% url 'nave1' %}" class="mb-3">
            <div class="form-group">
                <label for="marca">Marca</label>
                <select id="marca" name="marca" class="form-control">
                    <option value="">Selecione a Marca</option>
                    {% for marca in all_marcas %}
                        <option value="{{ marca }}" {% if marca == search_marca %}selected{% endif %}>{{ marca }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <select id="modelo" name="modelo" class="form-control">
                    <option value="">Selecione o Modelo</option>
                    {% if search_marca %}
                        {% for modelo in all_marcas_modelos|get_item:search_marca %}
                            <option value="{{ modelo }}" {% if modelo == search_modelo %}selected{% endif %}>{{ modelo }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
    </div>
</div>
<br>

<div id="main_table_form" class="container-fluid mb-5" style="width: 95%">
    <div class="legend-container">
        <div class="legend-item">
            <div class="legend-color red"></div>
            <div class="legend-text">Não Produzido</div>
        </div>
        <div class="legend-item">
            <div class="legend-color orange"></div>
            <div class="legend-text">Produzido</div>
        </div>
    </div>
    <br>

    
    


    <div class="table-responsive" style="width: 95%; min-height: 450px; max-height: 800px; margin-left: auto; margin-right: auto;">
        <table border="1" class="table table-striped table-bordered border-dark table-hover">
            <thead class="order-thead">
                <tr>
                    <th rowspan="3">Ref</th>
                    <th rowspan="3">Marca</th>
                    <th rowspan="3">Modelo</th>
                    <th rowspan="3">Tamanho</th>
                    <th colspan="8">RT</th> <!-- Header for RT columns -->
                    <th colspan="8">FT</th> <!-- Header for FT columns -->
                </tr>
                <tr>
                    <th colspan="2">CS</th>
                    <th colspan="2">SS</th>
                    <th colspan="2">DRP</th>
                    <th colspan="2">MB</th>
                    <th colspan="2">HT</th>
                    <th colspan="2">DT</th>
                    <th colspan="2">TT</th>
                    <th colspan="2">ST</th>
                </tr>
                <tr>
                    <th>Não Produzido</th>
                    <th>Produzido</th>
                    <th>Não Produzido</th>
                    <th>Produzido</th>
                    <th>Não Produzido</th>
                    <th>Produzido</th>
                    <th>Não Produzido</th>
                    <th>Produzido</th>
                    <th>Não Produzido</th>
                    <th>Produzido</th>
                    <th>Não Produzido</th>
                    <th>Produzido</th>
                    <th>Não Produzido</th>
                    <th>Produzido</th>
                    <th>Não Produzido</th>
                    <th>Produzido</th>

                </tr>
            </thead>
            <tbody>
                {% for ref, details in data.items %}
                    <tr data-bs-toggle="collapse" data-bs-target="#details-{{ forloop.counter }}">
                        <td>{{ ref }}</td>
                        <td>{{ details.details.marca }}</td>
                        <td>{{ details.details.modelo }}</td>
                        <td>{{ details.details.tamanho }}</td>
                        {% for key in lang4_keys %}
                        <td>{{ details.nao_produzido|get_item:key|default:''|floatformat:0  }}</td>
                        <td>{{ details.lang4|get_item:key|default:''|floatformat:0 }}</td>
                        
                        {% endfor %}
                    </tr>
                    <tr class="collapse" id="details-{{ forloop.counter }}">
                        <td colspan="20">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>OF</th>
                                        <th>OF Parent</th>
                                        <th>Status</th>
                                        <th>Qtd Real</th>
                                        <th>Qtd Produzida</th>
                                        <th>Sub-Ref</th>
                                        <th>Status Sub</th>
                                        <th>Sequencial</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub in details.details.subdata %}
                                        <tr>
                                            <td>{{ sub.obrano_of }}</td>
                                            <td>{{ sub.ofparent }}</td>
                                            <td>{{ sub.status }}</td>
                                            <td>{{ sub.qtt_real }}</td>
                                            <td>{{ sub.qtt_produzida }}</td>
                                            <td>{{ sub.ref_sub }}</td>
                                            <td>{{ sub.status_sub }}</td>
                                            <td>{{ sub.sequencial }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <span></span>
    <br><br>


<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const marcaSelect = document.getElementById('marca');
        const modeloSelect = document.getElementById('modelo');

        const marcasModelos = JSON.parse('{{ marcas_modelos_json|escapejs }}');

        marcaSelect.addEventListener('change', function() {
            const selectedMarca = marcaSelect.value;

            modeloSelect.innerHTML = '<option value="">Selecione o Modelo</option>';

            if (selectedMarca && marcasModelos[selectedMarca]) {
                marcasModelos[selectedMarca].forEach(function(modelo) {
                    const option = document.createElement('option');
                    option.value = modelo;
                    option.text = modelo;
                    modeloSelect.add(option);
                });
            }
        });
    });
</script>

{% endblock %}
